!!! 5
html(lang="en")
  head
    script(type='text/javascript').
      if (foo) {
         bar()
      }
  body
    h1.title Búsqueda RIMPE
    #container
        p Chequéa si eres parte del Régimen Simplificado Para Emprendedores y Negocios Populares